@model RedefinirSenhaModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Redefinir a Senha";
}


@if (TempData["MensagemErro"] != null) {
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-outline-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-controller="Login" asp-action="EnviarLink" method="post">
    <br />
    <div class="text-center mb-3">
        <div class="mx-auto col-md-4">
            <label for="login" class="form-label">Login</label>
            <input type="text" asp-for="Login" class="form-control" id="login">
            @Html.ValidationMessageFor(x => x.Login)
        </div>
    </div>
    <br />
    <br />
    <div class="text-center mb-3">
        <div class="mx-auto col-md-4">
            <label for="email" class="form-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" id="email">
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>
    <br />
    <br />
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Redefinir</button>
        <a class="btn btn-secondary" asp-controller="Login" asp-action="Index" role="button">Voltar</a>
    </div>
</form>