@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<div class="text-center">
    <h1 class="display-4">Alerta!</h1>
    <p>Você não possui permissão de acesso!<a asp-controller="Home" asp-action="Index">Voltar Para Home</a></p>
</div>
